<!-- <p>Title selected : {{ titleSelected?.title }}</p> -->

<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"
    *ngFor="let product of dataSource; let i = index;">
    <mat-card
      (click)="select(product.id)"
      [class.mat-elevation-z2]="!product.isSelected"
      [class.mat-elevation-z8]="product.isSelected">
      <img  class="picture" mat-card-sm-image src={{product.image}}>
      <mat-card-content>
        <p>{{product.title}}</p>
        <hr>
        <p>R{{product.price}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
